<div id="locations">
  <h2>
    Locations
    <%= link_to "NEW", new_location_path, class: "btn btn-primary btn-xs" %>
  </h2>

  <% if current_user.locations.blank? %>
    <p>You haven&rsquo;t added any locations yet. Want to add one now?</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.locations.each do |location| %>
          <tr>
            <td><%= link_to location.name, location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
