<div id="locations">
  <h2>
    Locations
    <%= link_to "NEW", new_event_venue_location_path(event, venue), class: "btn btn-primary btn-xs" %>
  </h2>

  <% if @venue.locations.blank? %>
    <p>You haven&rsquo;t added any locations yet. Want to add one now?</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @venue.locations.each do |location| %>
          <tr>
            <td><%= link_to location.name, event_venue_location_path(location.venue.event, location.venue, location) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
