<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Performances</th>
    </tr>
  </thead>

  <tbody>
    <% event.people.each do |person| %>
      <tr>
        <td><%= link_to person.name, [event, person] %></td>
        <td>
          <% person.performances.each do |performance| %>
            <%= link_to performance.name, [event, performance] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
