<div id="performances">
  <h2>
    Performances
    <%= link_to "NEW", [:new, event, :performance], class: "btn btn-primary btn-xs" %>
  </h2>

  <% if event.performances.blank? %>
    <p>You haven&rsquo;t added any performances yet.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% event.performances.each do |performance| %>
          <tr>
            <td><%= link_to performance.name, [event, performance] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
