<div class="row">
  <% event.send(medium.pluralize).each do |medium| %>
    <%= link_to [event, medium], class: "col-xs-3" do %>
      <%= image_tag medium.image_url %>
    <% end %>
  <% end %>
</div><!-- .row -->
