<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% event.venues.each do |venue| %>
      <tr>
        <td>
          <%= link_to venue.name, [event, venue] %>
          <% if venue.locations.present? %>
            <ul>
              <% venue.locations.each do |location| %>
                <li><%= link_to location.name, [event, venue, location] %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
