<div id="venues">
  <h2>
    Venues
    <%= link_to "NEW", [:new, event, :venue], class: "btn btn-primary btn-xs" %>
  </h2>

  <% if event.venues.blank? %>
    <p>You haven&rsquo;t added any venues yet.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% event.venues.each do |venue| %>
          <tr>
            <td><%= link_to venue.name, [event, venue] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
