<%= render "shared/notice" %>

<div class="h-event">
  <div class="page-header">
    <h1><span class="p-name"><%= @location.name %></span></h1>
    <p class="header-button"><%= link_to "EDIT", [:edit, :admin, @event, @venue, @location], class: "btn btn-default btn-xs" %></p>
  </div>

  <div class="sessions">
    <% @location.sessions.each do |session| %>
      <%= render partial: "admin/sessions/session", locals: { session: session } %>
    <% end %>
  </div>
</div>
