<div class="page-header">
  <h1>Editing <%= link_to @person.name, edit_event_person_path(@person.event, @person) %></h1>
</div>

<%= render "form" %>
<%= render "shared/danger_zone", object: [@event, @person], label: "person" %>
