<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= select_year resource.send(attr).try(:year),
          { prompt: true, start_year: Date.today.year , end_year: Date.today.year - 50 },
          name:  "#{resource.class.to_s.downcase}[#{attr}(1i)]",
          id:    "#{resource.class.to_s.downcase}_#{attr}_1i",
          class: "form-control datetime-select" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= select_month resource.send(attr).try(:month),
          { prompt: true },
          name:  "#{resource.class.to_s.downcase}[#{attr}(2i)]",
          id:    "#{resource.class.to_s.downcase}_#{attr}_2i",
          class: "form-control datetime-select" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= select_day resource.send(attr).try(:day),
          { prompt: true },
          name:  "#{resource.class.to_s.downcase}[#{attr}(3i)]",
          id:    "#{resource.class.to_s.downcase}_#{attr}_3i",
          class: "form-control datetime-select" %>
  </div>
</div>
