<header class="page-header">
  <h1>
    <%= link_to_unless_current medium.to_s.pluralize.capitalize, [@event, medium.to_s.pluralize.downcase], class: "p-name" %>
  </h1>

  <p><%= link_to "NEW", [:new, @event, medium.downcase], class: "btn btn-primary btn-xs" %></p>
  <p>For <%= link_to @event.name, @event %></p>
</header>
