<div class="jumbotron">
  <h1>Eventer</h1>
  <p>An Event CMS. For before, during and after.</p>
  <p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign In", signin_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
