<div class="page-header">
  <h1>Editing <%= link_to @venue.name, event_venue_path(@event, @venue) %></h1>
</div>

<%= render "form" %>
<%= render "shared/danger_zone", object: [@event, @venue], label: "venue" %>
