<article class="h-entry">
  <%= render "media/embed",  medium: medium %>
  <%= render "media/header", medium: medium %>

  <% if medium.description.present? && permalink %>
    <div><%= simple_format medium.description %></div>
  <% end %>

  <%= render "shared/media_footer", resource: medium %>
</article>
