<%= render "shared/notice" %>
<%= render "shared/section_header", event: @event, section: @medium.type %>

<div class="row">
  <div class="col-xs-12">
    <%= render "medium", medium: @medium, permalink: true %>
  </div>
</div>
