<%= render "/shared/notice" %>
<%= render "/shared/section_header", event: @event, section: :link %>

<ol class="h-feed">
  <% @links.each do |link| %>
    <li class="h-entry">
      <%= render link, event: @event %>
    </li>
  <% end %>
</ol>
