<%= render "/shared/notice" %>

<%= render "header", event: @event %>

<ol class="h-feed">
  <% @links.each do |link| %>
    <li class="h-entry">
      <%= render link, event: @event %>
    </li>
  <% end %>
</ol>
