<h2><%= link_to_unless_current role.name, [:admin, event, role] %></h2>
<p><%= link_to "EDIT", [:edit, :admin, event, role], class: "btn btn-default btn-xs" %></p>

<div><%= simple_format role.description %></div>
