<div class="page-header">
  <h1>Editing <%= link_to @participant.name, [:edit, :admin, @event, @participant] %></h1>
</div>

<%= render "form" %>
<%= render "shared/danger_zone", resource: [:admin, @event, @participant], label: "participant" %>
