<div class="embed-vine">
  <iframe class="vine-embed" src="https://vine.co/v/<%= vine_video_id(medium.vine_url) %>/embed/simple" width="600" height="600" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
</div>
