<div class="page-header">
  <h1>
    <%= link_to_unless_current medium.name, medium, class: "p-name" %>
    <%= link_to "Edit", edit_medium_path(medium), class: "btn btn-primary btn-sm" %>
  </h1>
</div>
