<%= render "/shared/notice" %>
<%= render "/shared/section_header", event: @event, section: medium_type %>

<div class="h-feed">
  <% @media.in_groups_of(4).each do |row| %>
    <div class="row">
      <% row.each do |medium| %>

        <% if medium.present? %>
          <div class="col-xs-6 col-sm-3">
            <%= render "medium", medium: medium, permalink: false %>
          </div>
        <% end %>

      <% end %>
    </div>
  <% end %>
</div>