$color-blue: #6495ed;
$color-pink: #ed6495;
$color-green: #95ed64;

$color-blue-light: #92b4f2;
$color-pink-light: #f292b4;
$color-green-light: #b4f292;

$color-blue-dark: #4668a5;
$color-pink-dark: #a54668;
$color-green-dark: #68a546;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery.datetimepicker.min";

@import "events";
@import "forms";
@import "global";
@import "links";
@import "locations";
@import "media";
@import "participants";
@import "sessions";
@import "auths";
@import "users";
@import "venues";
@import "welcome";
@import "rsvps";
@import "preview";
