#events {
  table {
    font-size: 120%;
  }
}

.h-event.dashboard {

  .hello-yc {
    border-left: 10px solid $color-pink;
    padding-left: 20px;

    p, li {
      font-size: 120%
    }
  }

  section {
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
  }

  #before,
  #during-after {
    padding-top: 1rem;

    h2.sub-header {
      background: #F3F3F3;
      text-align: center;
      padding: 10px;
    }
  }

  .btn-jump {
    margin-top: 1rem;
  }

  dl {
    font-size: 110%;
  }

  dt + dt, dd + dt {
    margin-top: 1rem;
  }
}
