.h-event.dashboard {
  section {
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
  }

  #before,
  #during-after {
    padding-top: 1rem;

    h2.sub-header {
      background: #F3F3F3;
      text-align: center;
      padding: 10px;
    }
  }

  .btn-jump {
    margin-top: 1rem;
  }

  dd {
    margin-left:   2rem;
  }

  dd + dt {
    margin-top: 1rem;
  }
}
