html {
  padding: 1rem 0;
}

iframe,
video,
audio,
img {
  max-width: 100%;
  height: auto;
}

.header-button {
  float: right;
  margin-top: -35px
}

.header-button.h1 {
  color: #999;
  margin-top: -50px
}

.edit {
  margin-left: 20px;
}

.help-block {
  font-size: 90%;
}
