html {
  padding: 1rem 0;
}

iframe,
video,
audio,
img {
  max-width: 100%;
  height: auto;
}

.header-button {
  float: right;
  margin-top: -35px
}

.header-button.h1 {
  color: #999;
  margin-top: -50px
}

.edit {
  margin-left: 20px;
}

.help-block {
  font-size: 90%;
}

a {
  color: $color-blue;
}

a:hover {
  color: $color-pink;
}

// Overwrite some bootstrap defaults

.navbar {
  border-radius: 0;

  a {
    color: $color-blue-light;
  }

  a:hover {
    color: $color-blue;
  }
}

.navbar-default {
  background-color: #eee;
  border-color: #eee;
}

p.navbar-brand {
  margin-bottom: 0;
}
