body {
  margin: 0;
  padding: 0;
}

body.preview {
  margin: 0;
  padding: 0;

  .go-back {
    background: red;
    padding: 10px;

    p {
      text-align: center;
      font-size: 120%;
      margin: 0;
      padding: 0;
    }

    a { color: white }
  }

  .container.full-width {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }

  .container.full-width.header {
    border-bottom: 1px solid #eee;

    .nav {
      padding: 5px 0;
      margin: 0;

      ul {
        margin: 0;
      }

      .date-and-location {


        li + li {
          border-left: 1px solid #ccc;
        }
      }

      .links {
        ul {
          float: right;

          li {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .container.full-width.hero {
    background-image: image-url("hero.jpg");
    text-shadow: 0 0 2rem #444;

    .hero {
      padding: 200px 0;

      h1 {
        color: #efefef;
        font-size: 800%;
        text-align: center;
        margin: 0;
      }

      h2 {
        color: #fefefe;
        font-size: 300%;
        text-align: center;
        margin: 0;
      }
    }
  }

  .container.full-width.summary {

    .summary {
      padding: 100px 0;

      h1 {
        color: #bfbfbf;
        font-size: 400%;
        text-align: center;
        margin: 0;
      }
    }
  }

  .container.full-width.description {
    background: #24292E;

    .description {
      padding: 20px 0;

      p {
        color: #cfcfcf;
      }

      .breakout p {
        font-size: 300%;
      }

      .follow p {
        font-size: 170%;
      }

      p + p {
        margin-top: 30px;
      }

      img {
        float: left;
        width: 30%;
        padding: 0 10px 10px 0;
      }
    }
  }

  .container.full-width.schedule {

    .row {
      padding: 25px 0;
    }

    .row.break {
      background: #efefef;
      padding: 25px 0;
    }

    h1 {
      font-size: 400%;
      text-align: center;
      margin-bottom: 30px;
    }

    h2 {
      margin: 0;
    }

    .date {
      h2 {
        text-align: center;
      }
    }

    p {
      margin-top: 10px;
      font-size: 120%;
    }

    .time-and-location {
      text-align: center;

      h3 {
        color: #666;
        margin: 3px;
      }

      p {
        font-size: 100%;
        color: #999;
        margin: 0;
      }
    }

    .participant {
      width: 80%;

      p {
        margin-top: 0;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
      }
    }

  }

  .container.full-width.sponsors {
    h1 {
      text-align: center;
    }

    .row {
      margin: 50px 0;
    }
  }

  .container.full-width.footer {
    background: #c8cfd6;

    .row {
      margin: 10px 0;
    }

    li {
      list-style-type: none;
    }
  }
}
