// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-partial {
  .who-and-where {
    font-size: 150%;
    margin-bottom: 30px;
  }

  .when {
    font-weight: bold;
    margin-bottom: 30px;
  }

  .why p {
    font-size: 130%;
  }
}

.participant {
  width: 80%;
  margin-top: 20px;

  p {
    margin-top: 5px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
  }
}

.session-partial + .session-partial {
  border-top: 1px solid #eee;
}
