<div class="page-header">
  <h1>Editing <%= link_to @performance.name, @performance %></h1>
</div>

<%= render "form" %>
<%= render "shared/danger_zone", object: @performance, label: "performance" %>
