<div class="page-header">
  <h1>Editing <%= link_to @location.name, [@event, @venue, @location] %></h1>
</div>

<%= render "form" %>
<%= render "shared/danger_zone", resource: [@event, @venue, @location], label: "location" %>
